

.register-container {
  background-color: #476792;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  display: flex;
  max-width: 400px;
  padding: 16px;
  background-color: #edebe6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.titleDiv {
  width: 100%;

}

.arrowClass{
  color: black;
}


.Titulo{
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.register-input {
  width: 100%;
  margin: 10px 0;
}

.buttonSubmit {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 25px;
}

/* Color de los textboxes */
:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
  color: black;
}

/* Color de lo que se escribe */
:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: black;
}

/* Color de los label de textbox */
:host ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  color: black;
}

/* Color de los botones del form */
.mat-mdc-raised-button.mat-primary{
  background-color: #476792;
}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .register-box {
    max-width: 80%;
    margin: 20px;
  }

  .titleDiv h1 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .register-input {
    width: 100%;
  margin: 10px 0;
  }

  .mat-raised-button {
    margin-bottom: 10px;
  }

  .buttonSubmit {
    width: 100%;
  }
}