
<body>
  <div class="modal" *ngIf="showSpinner">
    <mat-progress-spinner mode="indeterminate" color="primary" [diameter]="50"></mat-progress-spinner>
  </div>
    <!-- Inicio del navbar -->
  <mat-toolbar class="navbar" color="primary">
    <span>Hola, {{ userData?.name }}</span>
    <div class="logOutButton">
      <button mat-button (click)="onLogout()"> <mat-icon>exit_to_app</mat-icon>Cerrar sesión</button> 
    </div>
  </mat-toolbar>
  <!-- Contenedor Márgen -->
  <div class="margin-container">
    <!-- Contenedor Principal -->
    <div class="content-container">
      <div>
        <h2>Usuarios Registrados</h2>
      </div>
      <div class="content-card">
        <mat-card>
          <!-- Comienza la tabla -->
          <div class="table-container">
            <table mat-table  class="custom-table" [dataSource]="users">
              <!-- Columnas de la tabla -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
                <mat-cell  *matCellDef="let user">{{ user.id }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="rut">
                <mat-header-cell *matHeaderCellDef>RUT</mat-header-cell>
                <mat-cell *matCellDef="let user">{{ user.rut }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Correo Electrónico</mat-header-cell>
                <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="password">
                <mat-header-cell *matHeaderCellDef>Contraseña</mat-header-cell>
                <mat-cell *matCellDef="let user">{{ user.password }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="delete" >
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let user">
                  <button mat-icon-button color="warn" (click)="deleteUser(user)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <!-- Fin Columnas de la tabla -->
              <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
          </div>
          <!-- Fin de la tabla -->
        </mat-card>
      </div>
    </div>
  </div>
</body>